@page
@model JuegoModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="Scripts/p5.min.js"></script>
    <script src="Scripts/p5.dom.min.js"></script>
    <script src="Scripts/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Scripts/style.css">
    <meta charset="utf-8">

</head>

<body>
    <script src="sketch.js"></script>
    <script src="cell.js"></script>


</body>

