@page
@model LoginModel
@{
    ViewData["Title"] = "Ingresa tu nombre";
}
<h1>@ViewData["Title"]</h1>

<input class="prueba"/>

@*<asp:Button ID="" runat="server" Text="Jugar" OnClick="Ingresar()" />Juga*@


@*<button><a OnClick="Ingresar"></a>jugar</button>*@
@*<asp:Button ID="btnConfirm" runat="server" Text="Confirm" PostBackUrl="~/Ingresar.aspx" />*@
<button asp-page="/Juego">Juego</button>
