@page
@model LoginModel
@{
    ViewData["Title"] = "Ingresa tu nombre";
}
<h1>@ViewData["Title"]</h1>

<input></input>

@*<asp:Button ID="" runat="server" Text="Jugar" OnClick="Ingresar()" />Juga*@


@*<button><a OnClick="Ingresar"></a>jugar</button>*@
@*<asp:Button ID="btnConfirm" runat="server" Text="Confirm" PostBackUrl="~/Ingresar.aspx" />*@
<button><a class="navbar-brand" asp-area="" asp-page="/Juego">Juego</a></button>
